#File ClientParameters.cfg:
[Settings]
#Comments are no Problem
gpioPort= 16 #default AOM serial port

#SMTP Settings
smtpServer = smtp.gmail.com
smtpPort = 587
#SMTP Login user
smtpUser = francoisbolomey08@gmail.com
smtpPass = fifi9876
#Email is sent from
strFrom = francoisbolomey08@gmail.com
#Email recepient
strTo = francoisbolomey08@gmail.com
